@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
    font-family: 'RocknRoll One', sans-serif !important;
}

.form-title {
    padding: 10px;
}

.form-container{
    margin-top: 30px;
    border: 1px solid #000;
}

.post-container{
  margin-top: 5px;
  border: 3px solid rgb(181 173 173);
  padding: 10px;
}

.votes-container{
  display: flex;
  flex-direction: column;
}

.votes-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.vote-icons :hover{
  color: rgb(130, 167, 223);
  cursor: pointer;
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.subreddit-name{
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.post-username{
  margin-right: 5px;
  color: rgb(181 173 173);
  font-size: 15px;
}

.posted-by-link{
  color: darkcyan;
  cursor: pointer;
}


.post-duration{
  margin-right: 5px;
  color: rgb(181 173 173);
  font-size: 15px;
}

.post-information-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.post-description{
  color: rgb(87, 86, 86);
}

.post-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.sidebar-container{
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-header{
  border: 3px solid rgb(181 173 173);
  padding: 5px;
}

.sidebar-header-image{
  color: gray;
}

.sidebar-header-image img{
  width: 100%;
  border-radius: 5px;
}

.sidebar-header-body{
  text-align: center;
  color: rgb(181 173 173);

}

.sidebar-footer{
  border: 3px solid rgb(181 173 173);
  padding: 5px;
  margin-top: 5px;
}

.subreddit-link{
  cursor:pointer;
  color: rgb(85, 82, 241);
}

.subreddits-sidebar-container{
  margin-top: 30px;
  border: 1px solid #000;
}

.subreddits-sidebar-container hr{
  width: 100%;
}

.subreddits-sidebar-title{
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subreddits-sidebar-list{
  color: rgb(181 173 173);
}

.subreddit-list-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.subreddit-list-container{
  display: flex;
  flex-direction: column;
}

.subreddit-list-item{
  padding: 5px;
  color: #2e5ec7;
  cursor: pointer;
}

.subreddit-list-item :hover{
  text-decoration: underline;
}

.comment-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(181 173 173);
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
}

.comment-header{
  display: flex;
  flex-direction: column;
}


.dropdown-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px){
  .title-container{
    flex-direction: column;
  }
}


/* loading sytles */
.loading-container{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  